<div ng-include="'components/navbar/navbar.html'"></div>

<!-- Modal -->

<div ng-show="modal" class="panel panel-default" style="padding:20px;width:60%; max-height:80%;overflow: scroll; background:white; position:fixed; z-index:1000; top:100px; left:300px">
	<div class="page-header">
		<span ng-click="modal=false" style="margin:10px; padding:10px 18px" class="btn btn-primary pull-right">X</span>
		<h3 class="text-center" style="margin:10px">Distibución de {{modal.taxa}} <br> <small>nivel de riesgo: {{modal.nivel}} ({{modal.flujo | number:0}})</small></h3>
	</div>
	<div class="page-body">
		<p class="well">{{modal.description}}</p>
		<h4 ng-show="modal.dist.length==0">No existe información de distribución para {{modal.taxa}}</h4>
		<div ng-repeat="region in modal.dist | orderBy:'code'">
			<div class="panel panel-default">
				<div class="panel-heading">{{region.name}} </div>
				<div class="panel-body" ng-show="provinciasVar.length !== 0">
					<ul>
						<li ng-repeat="provincia in provinciasVar = (region.provincias ) | orderBy:'code'">Provincia: {{provincia.name}}
							<ul >
							  <li ng-repeat="comuna in provincia.comunas  | orderBy:'code'">Comuna : {{comuna.name}}</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- /Modal -->

<!-- Modal2 -->

<!-- <div  class="panel panel-default" style="padding:20px;width:60%; max-height:80%;overflow: scroll; background:white; position:fixed; z-index:1000; top:100px; left:300px">
	<div class="page-header">
		<span ng-click="modal=false" style="margin:10px; padding:10px 18px" class="btn btn-primary pull-right">X</span>
		<h3 class="text-center" style="margin:10px">Distibución de las especies transgénicas <br> <small>tabla de las 10 especies requeridas</small></h3>
	</div>
	<p ng-repeat="sp in krappi">{{sp.taxa}}</p>
	<div class="page-body">
		<table class="table">

		</table>
	</div>
</div> -->

<!-- /Modal2 -->

<button ng-click="tableMakerS()">Clickme</button>
<section>
<div class="container-fluid" style="padding-top:20px;">
	<div class="col-md-4">
		<!-- Lengüeta -->
		<ul class="nav nav-tabs" ng-init="selectedTab=1">
			<li class="active">
				<a>Transgénicas</a>
			</li>
		</ul>
		<!-- Select box -->
		<div class="tab-pane" style="margin:20px 3px;">
			<select 
				class="form-control" 
				ng-model="spCompare" 
				ng-change="
					getMatch(); 
					taipo=false; 
					ShowData=false; 
					bienvenida=true; 
					coinidencias=true;" 
				ng-options="a.taxa group by a.familia for a in transgenicas | orderBy: 'familia'">
				<option value="">Especies Transgénicas</option>
			</select>
		</div>
		<!-- Paneles de especies -->
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-hide="NN.length > 0">
						<input class="btn" type="text" placeholder="Introducidas" disabled>
					</span>
					<span ng-show="NN.length > 0" ng-click="taipo=1; ShowData = NNDist;" style="cursor:pointer;" ng-class="{'btn btn-primary':NN.length > 0}">
						Introducidas <span class="badge">{{NN.length}}</span>
					</span>
				</div>
				<div ng-show="taipo==1" >
					<div >
						<div class="panel-heading">
							<h4> <a style="cursor:pointer;" ng-click="ShowData = NNCDist;">Cultivadas</a> <span class="badge">{{NNC.length}}</span></h4>
						</div>
						<div ng-show="taipo==1" class="panel-body">
							<ul class="list-group">
							  <li ng-repeat="spR in NNC | orderBy: '-flujo'" class="list-group-item" style="background:{{color(spR.flujo)}};">
							  	<a ng-click="modalFn(spR,'false')" style="cursor:pointer;">{{spR.taxa}}</a>
							  	 <small>({{spR.nivel}})</small>
							  </li>
							</ul> 
						</div>
					</div>
				</div>
				<div ng-show="taipo==1" >
					<div >
						<div class="panel-heading">
							<h4> <a style="cursor:pointer;" ng-click="ShowData = NNNCDist;">No cultivadas</a> <span class="badge">{{NNNC.length}}</span></h4>
						</div>
						<div ng-show="taipo==1" class="panel-body">
							<ul class="list-group">
							  <li ng-repeat="spR in NNNC | orderBy: '-flujo'" class="list-group-item" style="background:{{color(spR.flujo)}};">
							  	<a ng-click="modalFn(spR,'false')" style="cursor:pointer;">{{spR.taxa}}</a>
							  	 <small>({{spR.nivel}})</small>
							  </li>
							</ul> 
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-hide="SN.length > 0">
						<input class="btn" type="text" placeholder="Nativas" disabled>
					</span>
					<span ng-show="SN.length > 0" ng-click="taipo=3;ShowData = SNDist; " style="cursor:pointer;" ng-class="{'btn btn-primary':SN.length > 0}">
						Nativas <span class="badge">{{SN.length}}</span>
					</span>
				</div>
				<div ng-show="taipo==3" class="panel-body">
					<div class="panel-heading">
						<h4><a >Cultivadas</a> <span class="badge">0</span></h4>
					</div>
				</div>
				<div ng-show="taipo==3" class="panel-body">
					<div class="panel-heading">
						<h4>No Cultivadas <span class="badge">{{Natives.length}}</span></h4>
					</div>
					<ul class="list-group">
					  <li ng-repeat="spN in Natives = (SN | orderBy: '-flujo') " class="list-group-item" style="background:{{color(spN.flujo)}};">
					  	<a ng-click="modalFn(spN,'false')" style="cursor:pointer;">{{spN.taxa}}</a>
					  	<small>({{spN.nivel}})</small>
					  </li>
					</ul>
				</div>
			</div>
		</div>


	</div>
	<div class="col-md-8">
		<ul>
			<li ng-repeat="sp in krap[0]">{{sp.taxa}}</li>
		</ul>
		<div class="jumbotron" ng-hide="bienvenida">
			<h2 class="text-center">Bienvenido al informe personalizado de especies transgénicas</h2>
			<p>En el sector izquierdo de la pantalla encontrarás un menú desplegable donde puedes seleccionar una de las 10 especies vegetales requeridas para el informe, ordenadas por familia taxonómica.</p>
		</div>
		<div class="jumbotron" ng-show="coinidencias">
			<h1 class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></h1>
			<h2 class="text-center">
				Coincidencias con la flora chilena <br><small>Especies con potencial riesgo de flujo génico</small>
			</h2>
		</div>
		<!-- Molde de presentación -->
		<h3>{{ShowData.title}}</h3>
		<div ng-show="ShowData" class="col-md-12" ng-repeat="region in ShowData.regiones | orderBy:'order' ">
		  <div class="panel panel-default" ng-show="region.especies">
		  	<div class="panel-heading">{{region.name}} </div>
		  	<div class="panel-body" ng-hide="region">Sin información</div>
		    <div class="panel-body" ng-show="region">
		    	<table class="table">
		    		<tr>
		    			<td>Taxa</td>
		    			<td>Nombre común</td>
		    			<td>Riesgo</td>
		    			<td>Nivel</td>
		    		</tr>
		    		<tr ng-repeat="sp in spPresente = (region.especies | orderBy: '-flujo' )" style="background-color:{{color(sp.flujo)}}">
		    			<td><a ng-click="modalFn(sp,region)" style="cursor:pointer;">{{sp.taxa}}</a></td>
		    			<td>{{sp.nameEs}}</td>
		    			<td style="width:25px;">{{sp.flujo | number :0 }}</td>
		    			<td style="width:100px;">{{sp.nivel}}</td>
		    		</tr>
		    	</table>
		    </div>
		  </div>
		</div>
	</div>
</section>
