<div class="col-md-6 col-md-offset-3 modal">
  <div class="modal-content">
    <div class="modal-header well" >
      <button type="button" class="close" ng-click="$hide()">&times;</button>
      <h4 class="modal-title" >Vas a entrar al modo avanzado</h4>
    </div>

    <div class="modal-body" style="text-align: justify">
      <p>Como usuario avanzado de CIRA, es posible ponderar entre los criterios utilizados para determinar los riesgos potenciales de flujo génico (en una escala de 1 a 6), de modo de aumentar o disminuir la importancia de cada uno de ellos en el análisis particular que se realiza; esto en la medida que el estado del conocimiento o la discusión amerite estos cambios.</p>
      <p>Variaciones en la ponderación de los criterios, modificarán el índice de riesgo informado para cada cruce de especies.</p>
    </div>

    <div class="modal-footer">
      <a class="btn btn-info" ng-href="/modelador" ng-click="$hide()">Aceptar</a>
      <a class="btn btn-warning" ng-click="$hide()">Cerrar</button>
    </div>
  </div>
</div>
