<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">fullstack012</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->

<!-- navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="row">
    <div class="navbar-header col-md-5" ng-init="isClick=true" ng-click="isClick = !isClick">
      <button type="button" class="navbar-toggle" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button >
      <a class="navbar-brand" href="/"><img src="inia/logo-conicyt.jpg" style="height:65px" alt=""><img id="logoImg" style="height:65px"  ng-src="{{logoUrl}}"  alt=" " > <span class="titleLogo">Proyecto Flujo Génico</span></a>
    </div>
    <div class="navbar-collapse col-md-7" ng-class="{collapse:isClick}"  >
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu" ng-class="{ 'active': item.active, 'dropdown': item.subMenu}" >
          <a ng-click="scrollTo(item.link)" ng-class="{'dropdown-toggle':subMenu}" >{{item.title}}</a>
          <ul class="dropdown-menu">
            <li ng-repeat="subItem in item.subMenu">
              <a href="{{subItem.link}}">{{subItem.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- / navbar -->