<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{linkLogo}}"> 
       <img src="{{logo1}}" alt="" style="height:30px"> <img src="{{logo2}}" alt="" style="height:30px"> <span>Sistema CIRA</span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu" ng-class="{ 'active': item.id==currentPage, 'dropdown': item.subMenu, 'cursorShow':item.subMenu}" toggle-open>
          <a ng-href="{{item.link}}" class="dropdown-toggle" ng-class="{'dropdown-toggle':item.subMenu}">
            {{item.title}}<span ng-show="item.subMenu" class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="subItem in item.subMenu">
              <a ng-href="{{subItem.link}}">{{subItem.title}}</a>
            </li>
          </ul>
        </li>
        <li><a href="#">{{getCurrentUser().name}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
<li ng-repeat="item in menu" ng-class="{ 'active': item.id==currentPage, 'dropdown': item.subMenu, 'cursorShow':item.subMenu}" toggle-open>
 -->