<div ng-include="'components/navbar/navbar.html'"></div>

<section>
	<div class="container-fluid" style="padding-top:20px;">
	<div class="col-md-4">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" ng-init="selectedTab=1">
			<li ng-class="{active: selectedTab == 1}" style="cursor:pointer;"><a ng-click="selectedTab = 1; cleanVariables();">Transgénicas</a></li>
			<li ng-class="{active: selectedTab == 2}" style="cursor:pointer;"><a ng-click="selectedTab = 2; cleanVariables();">Cultivadas</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="scroll-block" style="height:50px;">
			<div ng-hide="transgenicas">
				<img ng-src="assets/images/loading.gif" class="loadingkrap">
			</div>
			<div class="tab-pane" ng-show="selectedTab == 1" id="home">
				<select style="margin-top:10px" class="form-control" ng-model="spCompare" ng-change="getMatch(spCompare); spSelected=null;" 
				ng-options="a.getShortName() group by a.familia for a in transgenicas | orderBy: 'familia'">
					<option value="">Especies Transgénicas</option>
				</select>
			</div>
			<div class="tab-pane" ng-show="selectedTab == 2" id="profile">
				<select style="margin-top:10px" class="form-control" ng-model="spCompare" ng-change="getMatch(spCompare); spSelected=null;" ng-options="a.getShortName() group by a.familia for a in cultivadas | orderBy: 'familia'">
					<option value="">Especies Cultivadas</option>
				</select>
			</div>
		</div>
		<div>

	<!-- CULTIVADAS -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span ng-hide="especiesMatch.cultivadas.length > 0">
					<input class="btn" type="text" placeholder="Cultivadas" disabled>
				</span>

				<span class="mypointer" ng-show="especiesMatch.cultivadas.length > 0" ng-click="taipo=1;" ng-class="{'btn btn-primary':especiesMatch.cultivadas.length > 0}">
					Cultivadas <span class="badge">{{especiesMatch.cultivadas.length}}</span>
				</span>
			</div>
			<div ng-show="taipo==1" >
				<div class="panel-body">
					<ul class="list-group">
					  <li 
					  	class="list-group-item" 
					  	ng-repeat="spR in especiesMatch.cultivadas | orderByFlujo " 
					  	style="background:{{spR.colorRisk()}};">
					  	<a class="mypointer" ng-click="getReport(spR)" >{{spR.taxa}}</a>
					  	 <small>({{spR.riskLevel()}})</small>
					  	 <a href="flora/{{spR._id}}">Edit</a>
					  </li>
					</ul> 
				</div>
			</div>
		</div>
		<!-- INTRODUCIDAS -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span ng-hide="especiesMatch.introducidas.length > 0">
					<input class="btn" type="text" placeholder="Introducidas" disabled>
				</span>

				<span class="mypointer" ng-show="especiesMatch.introducidas.length > 0" ng-click="taipo=2;" ng-class="{'btn btn-primary':especiesMatch.introducidas.length > 0}">
					Introducidas <span class="badge">{{especiesMatch.introducidas.length}}</span>
				</span>
			</div>
			<div ng-show="taipo==2" >
				<div class="panel-body">
					<ul class="list-group">
					  <li 
					  	class="list-group-item" 
					  	ng-repeat="spR in especiesMatch.introducidas | orderByFlujo " 
					  	style="background:{{spR.colorRisk()}};">
					  	<a class="mypointer" ng-click="getReport(spR)" >{{spR.taxa}}</a>
					  	 <small>({{spR.riskLevel()}})</small>
					  	 <a href="flora/{{spR._id}}">Edit</a>
					  </li>
					</ul> 
				</div>
			</div>
		</div>
		<!-- NATIVAS -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span ng-hide="especiesMatch.nativas.length > 0">
					<input class="btn" type="text" placeholder="Nativas" disabled>
				</span>

				<span class="mypointer" ng-show="especiesMatch.nativas.length > 0" ng-click="taipo=3;" ng-class="{'btn btn-primary':especiesMatch.nativas.length > 0}">
					Nativas <span class="badge">{{especiesMatch.nativas.length}}</span>
				</span>
			</div>
			<div ng-show="taipo==3" >
				<div class="panel-body">
					<ul class="list-group">
					  <li 
					  	class="list-group-item" 
					  	ng-repeat="spR in especiesMatch.nativas | orderByFlujo " 
					  	style="background:{{spR.colorRisk()}};">
					  	<a class="mypointer" ng-click="getReport(spR)" >{{spR.taxa}}</a>
					  	 <small>({{spR.riskLevel()}})</small>
					  	 <a href="flora/{{spR._id}}">Edit</a>
					  </li>
					</ul> 
				</div>
			</div>
		</div>
<!-- 		  <accordion close-others="oneAtATime">

		  	<accordion-group is-disabled=true style="display:none"> <accordion-heading> <span class="pull-right" style="padding:20px;">Especies asociadas</span></accordion-heading>
		  	</accordion-group>


		    <accordion-group>
		    <accordion-heading> <span style="cursor:pointer;" ng-class="{'btn btn-primary':CultFilt.length > 0}">Cultivadas <span class="badge">{{CultFilt.length}}</span></span></accordion-heading>
			<ul>
				<li style="cursor:pointer; background-color:{{spR.colorRisk()}};" ng-repeat="spR in CultFilt = especiesMatch.cultivadas | orderByFlujo" ng-click="getReport(spR)"> {{spR.taxa}}</li>
			</ul>
		    </accordion-group>

		    <accordion-group>
		    <accordion-heading> <span style="cursor:pointer;" ng-class="{'btn btn-primary':IntroFilt.length > 0}">Introducidas <span class="badge">{{IntroFilt.length}}</span></span></accordion-heading>
			<ul>
				<li style="cursor:pointer; background-color:{{spR.colorRisk()}};" ng-repeat="spR in IntroFilt = especiesMatch.introducidas | orderByFlujo" ng-click="getReport(spR)"> {{spR.taxa}}</li>
			</ul>
		    </accordion-group>

		    <accordion-group>
		    <accordion-heading><span style="cursor:pointer;" ng-class="{'btn btn-primary':NatFilt.length > 0}">Nativas <span class="badge">{{NatFilt.length}}</span></span></accordion-heading>
			<ul>
				<li style="cursor:pointer; background-color:{{spR.colorRisk()}};" ng-repeat="spR in NatFilt = especiesMatch.nativas | orderByFlujo " ng-click="getReport(spR)"> {{spR.taxa}}</li>
			</ul>
		    </accordion-group>

		  </accordion> -->

		</div>
	</div>

	<div class="col-md-8">
<!-- bloque superior derecho -->
	<div class="row">
		<div class="col-xs-6" ng-show="spCompare">
		  <div class="panel panel-default">
		    <div class="panel-body">
		    	<h4>Especie seleccionada:</h4>
				<h5>{{spCompare.taxa}} <small>({{spCompare.tipo}})</small></h5>
				<div ng-show="spCompare.polSingle.list.length>0">
					<hr>
					<h6>Agentes polinizadores</h6>
					<p class="small">
						Hymenopteros <span class="badge">{{spCompare.polSingle.hymenoptera}}</span>
						Lepidopteros <span class="badge">{{spCompare.polSingle.lepidoptera}}</span>
						Dipteros <span class="badge">{{spCompare.polSingle.diptera}}</span>
						Coleopteros <span class="badge">{{spCompare.polSingle.coleoptera}}</span>
					</p>
					<ul>
						<li ng-repeat="pollinator in spCompare.polSingle.list">{{pollinator.taxa}}</li>
					</ul>
				</div>
		    </div>
		  </div>
		</div>
		<div class="col-xs-6" ng-show="spSelected">
		  <div class="panel panel-default">
		    <div class="panel-body">
		    	<h4>Especie a comparar: </h4>
				<h5>{{spSelected.taxa}} <small>({{spSelected.tipo}})</small></h5>
				<div ng-show="spSelected.polSingle.list.length>0">
					<hr>
					<h6>Agentes polinizadores</h6>
					<p class="small">
						Hymenopteros <span class="badge">{{spSelected.polSingle.hymenoptera}}</span>
						Lepidopteros <span class="badge">{{spSelected.polSingle.lepidoptera}}</span>
						Dipteros <span class="badge">{{spSelected.polSingle.diptera}}</span>
						Coleopteros <span class="badge">{{spSelected.polSingle.coleoptera}}</span>
					</p>
					<ul>
						<li ng-repeat="pollinator in spSelected.polSingle.list">{{pollinator.taxa}}</li>
					</ul>
				</div>
		    </div>
		  </div>
		</div>
		<div class="col-xs-6 col-xs-offset-3" ng-show="spSelected.pollinators.list.length>0">
			<div class="well">
				<h4>Coincidencias en polinizadores </h4>
				<p class="small">
					Hymenopteros <span class="badge">{{spSelected.pollinators.hymenoptera}}</span>
					Lepidopteros <span class="badge">{{spSelected.pollinators.lepidoptera}}</span>
					Dipteros <span class="badge">{{spSelected.pollinators.diptera}}</span>
					Coleopteros <span class="badge">{{spSelected.pollinators.coleoptera}}</span>
				</p>
<!-- 				<ul>
					<li ng-repeat="pollinator in spSelected.pollinators.list">{{pollinator.taxa}}</li>
				</ul> -->
			</div>
		</div>
	</div>

<!-- END bloque superior derecho -->

	<div ng-show="spSelected" class="well" style="background-color:{{spSelected.colorRisk()}};">
		<br>
		<h4 >Riesgo de Flujo Génico <b>{{spSelected.riskLevel()}}</b>  <small>({{spSelected.flujoGenico() | number:0 }}) </small> <span ng-show="spSelected.cira"> - CIRA: <b>{{spSelected.riskLevelCira()}}</b> <small>({{spSelected.cira | number:0}})</small></span></h4>
		<p>{{spSelected.description()}}</p>
	</div>
		
	<h4 class="well" ng-show="spSelected.dist.length !== 0 && spSelected">Distribución en Chile</h4>
	<p ng-show="spSelected.dist.length ===1 ">{{spSelected.taxa}} esta presente en 1 región</p>
	<p ng-show="spSelected.dist.length > 1 ">{{spSelected.taxa}} esta presente en {{spSelected.dist.length}} regiones</p>
	<div>
		<accordion close-others="oneAtATime">
			<accordion-group ng-repeat="region in spSelected.dist | orderBy:'code'"> 
				<accordion-heading > 
				<span style="cursor:pointer;">{{region.name}}</span>
				</accordion-heading>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="provincia in region.provincias  | orderBy:'code'"> Provincia: {{provincia.name}}
						<ul class="list-group">
						  <li class="list-group-item" ng-repeat="comuna in provincia.comunas  | orderBy:'code'">Comuna : {{comuna.name}}</li>
						</ul>
					</li>
				</ul>
			<accordion-group>
		</accordion>
	</div>
</section>


