<div ng-include="'components/navbar/navbar.html'"></div>

<section style="background-image:url('assets/images/inia/background-fg.jpg'); height:300px; background-position: bottom left; ">
  <div class="container pull-left">
    <div class="col-sm-8">
      <h2 style="padding:10px">Proyecto <br>CONICYT - Fondef IDEA</h2>
      <p class="col-xs-11 well"> 
        Establecimiento de un sistema en internet para la predicción del impacto de la co-existencia agrícola entre especies convencionales, genéticamente modificadas y orgánicas.</p>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>

<section class="container-fluid">
  <header class="page-header text-center">
    <h1>Sobre el proyecto</h1>
    <h2>Queremos evaluar el impacto de los cultivos trangenicos</h2>
  </header>
  <div class="row">
    <div class="col-md-4 col-md-push-2" style="text-align:justify;">
      <p>Curabitur lacinia mi sem, in iaculis ligula blandit. Aenean ornare erat eget accumsan interdum. Purus vulputate. Nunc at orci venenatis, odio vel, egestas eros. Nullam ac est a ante faucibus. Sed est neque,
      laoreet at laoreet eget, iaculis vitae libero.<p>
      <p>Donec faucibus ullamcorper pulvinar. Duis quis tempus varius, sapien urna pretium libero, nec mollis eros dolor eget velit. Nulla ornare ut nisi sodales consequat.</p>
      <p>Duis ut posuere augue, a interdum nisi. Etiam libero sit amet tempus sodales, ante diam.</p>
    </div>
    <div class="col-md-4 col-md-push-2" style="text-align:justify;">
      <p>Phasellus eu tellus eget massa ultrices rhoncus. Quam massa, tincidunt semper sapien.</p>
      <p>Posuere eleifend dolor. Vivamus purus ligula, venenatis nec elit at, tempus bibendum ipsum. Proin sed vehicula lectus. Curabitur augue diam, tincidunt venenatis lacinia, vulputate at lectus.</p>
      <p>Donec tempus velit vitae quam sodales, sit amet augue malesuada sem adipiscing. Aliquam dolor urna, rhoncus quis ullamcorper vel.</p>
    </div>
    <div class="col-md-12" style="text-align:center">
    <a href="/flujoapp" class="btn btn-primary btn-lg">Sobre el Proyecto</a>
    </div>
  </div>
</section>
<hr>

<section class="container-fluid">
  <header class="page-header text-center row">
    <h1>Equipo de trabajo</h1>
    <h2></h2>
      <p class="col-md-6 col-md-push-3 col-md-pull-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, enim. Nesciunt at amet blanditiis temporibus, earum eaque eos, fugiat excepturi! Harum aut excepturi officiis quibusdam dicta, commodi neque enim.</p>
      <br><br><br><br><br><br>
  </header>
  <div class="row">
    <div class="col-xs-4" ng-repeat="member in members1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="thumbnail">
            <img ng-src="{{member.imgUrl}}" alt="{{member.altImg}}">
          </div>
          <div class="caption">
            <h3>{{member.name}}</h3>
            <p>{{member.position}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4" ng-repeat="member in members2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="thumbnail">
            <img ng-src="{{member.imgUrl}}" alt="{{member.altImg}}">
          </div>
          <div class="caption">
            <h3>{{member.name}}</h3>
            <p>{{member.position}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="content-area brightText" data-bg="images/content/home-v1-clients-bg.jpg">
  <div class="container-fluid">
    <header class="page-header text-center">
      <h1 class="page-title">Our clients</h1>

      <h2>Some of the fine people we've worked with</h2>
    </header>

    <div class="row">
      <div class="col-md-8">
        <blockquote class="clearfix animated" data-fx="fadeInLeft">
          <div class="inner">
            <p class="larger">
              Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
              pretium. Integer tincidunt. Donec euismod vulputate porta. Mauris ultrices velit quis quam scelerisque luctus laoreet ac dui. Cras dapibus.
            </p>
          </div>
          <div class="media author">
          <span class="pull-left">
            <img class="media-object" src="images/content/home-v1-clients-portrait.jpg" alt=" ">
          </span>

            <div class="media-body">
              <h4 class="media-heading">Rebecca Bowens
                <span>Manager @ Company Inc.</span>
              </h4>
            </div>
          </div>

        </blockquote>
      </div>
      <div class="col-md-4">
        <ul class="row thumbnails list-unstyled">
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo1.png" alt=" " class="animated" data-fx="fadeInLeft">
            </a>
          </li>
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo2.png" alt=" " class="animated" data-fx="fadeInUp">
            </a>
          </li>
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo3.png" alt=" " class="animated" data-fx="fadeInRight">
            </a>
          </li>
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo4.png" alt=" " class="animated" data-fx="fadeInLeft">
            </a>
          </li>
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo5.png" alt=" " class="animated" data-fx="fadeInBottom">
            </a>
          </li>
          <li class="col-xs-4 col-md-4">
            <a href="#">
              <img src="images/content/home-v1-clients-logo6.png" alt=" " class="animated" data-fx="fadeInRight">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- / section -->
