.arrow {
  cursor: pointer;
  display: block;
  height: 64px;
  margin-top: -35px;
  outline: medium none;
  position: absolute;
  top: 50%;
  width: 64px;
  z-index: 5;
}
.arrow.prev {
  left: 20px;
  opacity: 0.2;
  transition: all 0.2s linear 0s;
}
.arrow.next {
  opacity: 0.2;
  right: 20px;
  transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
  opacity:1;
}
.arrow.next:hover{
  opacity:1;
}

.navslider {
  bottom: -4px;
  display: block;
  height: 48px;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 0.8em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.navslider li {
  border: 1px solid #AAAAAA;
  border-radius: 1px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}
.navslider li.active {
  border: 1px solid #FFFFFF;
}
.navslider li img {
  width: 100%;
}
.ng-hide {
  display:none!important;
}
.slider {
  padding: 0;
  margin: 0;
  height: 400px;
  position: relative;
}
.slideSingle {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.slideSingle.ng-hide-add {
  -webkit-animation:1s fadeOut ease;
  animation:0.5s zoomOut ease;
  display:block!important;
}
.slideSingle.ng-hide-remove {
  -webkit-animation:1s fadeIn ease;
  animation:0.5s zoomIn ease;
  display:block!important;
}
/*.slideSingle.ng-hide-add-active {
opacity: 0;
}*/
/*.slideSingle.ng-hide-remove {
    opacity: 0;
    transition: opacity 1s;
}
.slideSingle, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}





